@inject WarframeUtil.Data.GVState _gvState;
@using WarframeUtil.Data
@implements IDisposable

<div class="@(_gvState.IsDarkMode.Equals(true) ? "bg-dark text-light" : "")">
    <MudDrawerHeader Style="border-bottom: black;">
        <MudText Typo="Typo.h6">WarframeUtil</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" IconColor="@(_gvState.IsDarkMode.Equals(true) ? Color.Success : Color.Default)">Home</MudNavLink>
        <MudNavLink Href="/RivenTable" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List" IconColor="@(_gvState.IsDarkMode.Equals(true) ? Color.Success : Color.Default)">Riven Table (5 days)</MudNavLink>
        <MudNavLink Href="/Worldstate" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Satellite" IconColor="@(_gvState.IsDarkMode.Equals(true) ? Color.Success : Color.Default)" >Worldstate</MudNavLink>
    </MudNavMenu>
</div>


@code{

    protected override void OnInitialized()
    {
        _gvState.OnChange += StateHasChanged;

    }
    public void Dispose()
    {
        _gvState.OnChange -= StateHasChanged;
    }

}